.a-heading {
  font-size: 2.6rem;
  font-weight: 400;
  color: $grey-dark-1;

  &--primary {
    color: $color-primary;
  }

  &--light {
    color: $white;
  }

  &--sm {
    font-size: 2rem;
    font-weight: 700;
  }
}
